@tailwind base;
@tailwind components;
@tailwind utilities;

.test--test {
	fill: #fff;
	color: #151513;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	z-index: 99;
}

.github-corner:hover .octo-arm {
	transform-origin: 130px 106px;
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100 % {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

.github--corner-container {
	filter: invert();
	z-index: 9999;
	position: absolute;
	right: 0;
}

.search--container {
	min-height: calc(100vh - 220px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.basic--button{
	border: 2px black dashed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 5px;
	margin-top: 15px;
	transition: all 0.2s ease-in-out
}

.basic--button:hover{
	background-color: black;
	color: white;
}